@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using (Html.BeginForm("Find_Chat", "Home", FormMethod.Post, null))
{
<input type="submit" name="start" value="chat now" id="chat" class="btn btn-info" />
}